#map {
    position: fixed;
    height: 72%;
    width: 72%;
    overflow: hidden;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.infoLegend {
    padding: 6px 8px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px
}

.infoLegend i {
    width: 30px;
    height: 18px;
    float: left;
    margin-right: 8px;
}

#app {
}

html {
    height: 100%;
    background: #777777;
}

body {
    margin: 0.5rem;
    min-height: 100%;
    overflow: hidden;
}