@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --ninaOrange:#ff5900;
    --ninaLightOrange: #FB8C00;
}

#app {
    height: 100vh;
    position: relative;
}

/*@font-face {*/
/*    font-family: "Bundes Sans";*/
/*    src: local('src/assets/fonts/bundessansweb-regular.woff');*/
/*    src: local('src/assets/fonts/bundessansweb-bold.woff');*/
/*}*/

body {
    font-family: "Roboto", sans-serif;
}
*{
    font-family: Roboto, sans-serif;
}

.leaflet-container {
    line-height: 1.5;
}

#current {
    order: 1;
}

#sidePanel {
    /*opacity: 100%;*/
}

.warning a {
    color: var(--ninaLightOrange)
}

.warning a:hover {
    color: var(--ninaOrange)
}

.sidebar-tab-link:hover * {
    color: var(--ninaOrange);
}

.leaflet-control-container > div > *, .leaflet-control-zoom-out, .leaflet-control-zoom-in {
    /*opacity: 95%;*/
    background: white;
}